.contact-info {
    text-align: center;
    margin-top: 40px;
}
.contact-email {
    font-size: 20px;
    color: #ffffff; 
    text-decoration: none; /* Remove underline */
}
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.social-links img {
    width: 50px;
    margin: 0 10px;
}